body{
    background-color: oldlace;
    font-family: 'Roboto', sans-serif;
    opacity: .8;
}
.friend-card {
    border: 1px solid black;
    margin: 10px;
}

#holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lanes {
    min-height: 300px;
    width: 30%;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: tan;

}


#user-section {
    display: flex;
    width: 30%;
    margin: auto;
}

.message-card{
    border: 1px solid black;
    margin: 10px;
    background-color: gray
}

.message-base{
    border: 1px solid black;
    margin: 10px;

}

#nsHeader{
    display: flex;
    flex-direction: row;
}

#registerID{
    padding: 5px;
    margin: 10px;
    height: 30px;
}

#loginID{
    padding: 5px;
    margin: 10px;
    height: 30px;

}


#welcome{
    margin: 20px;
}

#logoImage{
    float: left;
    margin-right: 20px;
}

.sent{
    border: 1px solid black;
    margin: 10px;
}


button {
    background-color: rgba(241, 174, 85, 0.678);
    color:rgba(250, 249, 247, 0.85);
    margin: 5px;
    height: 22px;
    border: solid rgb(165, 112, 42,.7) 1px;
}

input{
   height: 20px;
   margin: 4px;
   background-color: rgba(237, 243, 247, 0.808)

}
