.friend-card {
    border: 1px solid black;
    margin: 10px;
}

#holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lanes {
    min-height: 300px;
    width: 30%;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}


#user-section {
    display: flex;
    width: %;
    margin: auto;
}

.message-card{
    border: 1px solid black;
    margin: 10px;
    background-color: gray
}

.message-base{
    border: 1px solid black;
    margin: 10px;

}

#nsHeader{
    display: flex;
    flex-direction: row;
}

#registerID{
    padding: 5px;
    margin: 10px;
    height: 30px;
}

#loginID{
    padding: 5px;
    margin: 10px;
    height: 30px;

}

.sent{
    border: 1px solid black;
    margin: 10px;
}




